<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="my_robot"/>
  <group ns="$(arg robot_name)">
    <machine name="robot1" address="192.168.2.53" env-loader="/home/pi/catkin_ws/devel/env.sh" user="pi" password="raspberry"/>
    <node machine="robot1" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node">
      <param name="width" value="800"/>
      <param name="height" value="600"/>
      <param name="fps" value="10"/>
    </node>

    <node machine="robot1" name="cv_zoom" pkg="srs_common" type="cv_zoom" >
      <remap from="image_input" to="image_raw"/>
      <remap from="image_output" to="image_zoom"/>
      <remap from="zoom" to="camera_zoom"/>
    </node>

    <group ns="comport">
      <node machine="robot1" pkg="srs_common" type="serialport" name="serialport"/>
    </group>
  </group>
</launch>
