<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="my_robot"/>
  <machine name="robot1" address="192.168.2.53" env-loader="/home/pi/catkin_ws/devel/env.sh" user="pi" password="raspberry"/>

  <node machine="robot1" pkg="srs_common" type="shutdown" name="shutdown" output="screen" required="true"/> 

</launch>
