<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="my_robot"/>
  <machine name="robot1" address="192.168.2.52" env-loader="/home/eio/catkin_ws/devel/env.sh" user="eio" password="419000"/>
  <group ns="$(arg robot_name)">
    <group ns="head_camera">
      <node machine="robot1" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node" output="screen">
        <param name="width" value="800"/>	
        <param name="height" value="600"/>
        <param name="fps" value="10"/>
        <param name="camera_info_url" value="file:///home/pi/camera.yaml"/>
      </node>
    </group>
<!--
    <group ns="comport">
      <node machine="robot1" pkg="srs_common" type="serialport" name="serialport"/>
    </group>
-->
  </group>
</launch>
